#container_style,
#list_style {
    font-weight: 600;
    font-size: 16px;
    list-style-type: upper-roman;
}

.description {
    width: 350px;
}

.example {
    background-color: black;
    width: 400px;
    display: inline-block;
    overflow-y: auto;
}

code {
    color: green;
}

.nav {
    width: 15em;
    background: #bab2a6;
    float: left;
}

.article {
    width: auto;
    background: #8c8780;
    margin-bottom: .2em;
    padding: 10px;
    margin-left: 15em;
    height: fit-content;
}

footer {
    height: fit-content;
    background: #827460;
    clear: both;
    width: 100%;
}

img {
    float: right;
}
.clear {
    clear: both;
}
