#container_style, #list_style {
    font-weight: 600;
    font-size: 16px;
    list-style-type: upper-roman;
}
.description {
    width: 350px;   
}
.example {
    background-color: black;
    width: 400px;
    display: inline-block;
}
code {
    color: green;
}
.nav {
    display: inline-block;
    background-color: #d0e1e1;
    font-size: medium;
    width: 15em;
}