div {
    display: inline-block;
    margin-top: 10px;
    height: 190px;
    width: 140px;
    background: url('src/img/cards.png');
}

.eight {
    background-position: -999px, -1200px;
}

.queen {
    background-position: 0px -1791px;
}

.nine {
    background-position: -858px -1393px;
}

.ace {
    background-position: -431px -2189px;
}

.joker {
    background-position: 1px -2389px;
}

.kingOfHearts {
    background-position: -998px -1983px;
    margin-right: -50px;
}
.kingOfSpades {
    background-position: -571px -1981px;
    margin-right: -50px;
}
.kingOfDiamonds {
    background-position: -854px -1981px;
    margin-right: -50px;
}
.threeDiamonds {
    background-position: -855px -193px;
    margin-right: -50px;
    
}
.threeClubs{
    background-position: -710px -193px;
}