body {
    font-family: 'Jura', sans-serif;
    font-family: 'Red Hat Mono', monospace;
}

.nav > li {
    list-style-type: none;
    width: 200px;
    height: 15px;
    padding: 5px;
    background-color: #949996;
    border-radius: 2px;
    color: #d7dbd9;
    float: left;
    border: 1px solid black;
    border-collapse: collapse;
    position: relative;
}

.sub_list {
    position: absolute;
    top: 35px;
    width: 178px;
    height: 0px;
    left: 468px;
    overflow: hidden;
    background-color: #a7aba9;
    color: #535454;
    border-radius: 2px;
    list-style-type: none;
    transition: linear;
}
.nav > li:hover {
    background-color: beige;
    color: black;
}

.nav>li:hover>.sub_list {
    height: 195px;
}

@media all and (max-width: 1350px) {
    .nav>li {
        float: none;
    }
    
}