.article {
    border: 1px solid #6b6b6b;
    padding: 10px;
    width: 600px;
    border-radius: 0px 10px;
    
}
ul {
    list-style-type: none;
}
ul>li>img {
    visibility: hidden; 
}
ul>li>a:hover>ul>li>img{
    height: 32px;
    width: 32px;
}
table {
    
}
th {
    background-color: #6b6b6b;
    color: black;
    font-weight: 800;
}
td {
    border: 1px dotted black;
}
tr>td {
    font-weight: 800;
}